@import 'hero'
@import 'pricing'
@import 'about-this-game'
@import 'tags'
@import 'esrb'
@import 'reviews'
@import 'countdown'

main
  flex: 65%

aside
  flex: 32%

  section
    background-color: rgba(0,0,0,0.4)
    margin: 20px
